<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Henry Oliver | UX Experience Designer and Front End Developer</title>
    <meta name="description" content="UX Experience Designer and Front End Developer based in Orlando, Florida.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="assets/images/icon.png">
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" href="styles/main.css">

    <meta name="theme-color" content="#f7f1eb">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="flex middle between header" role="banner">
        <!-- Logo -->
        <a class="header__logo" href="/">H/O</a>

        <!-- Main navigation -->
        <div class="navigation" v-click-outside="close">
            <button class="button-hamburger navigation__hamburger" :class="{ 'button-hamburger--active': navigation }" @click="toggle"></button>
            <nav class="navigation__menu" v-show="navigation" role="navigation">
                <router-link class="navigation__link" :to="{ hash: 'about' }">About</router-link>
                <router-link class="navigation__link" :to="{ hash: 'projects' }">Projects</router-link>
                <router-link class="navigation__link" :to="{ hash: 'work' }">Work experience</router-link>
                <router-link class="navigation__link" :to="{ hash: 'contact' }">Contact</router-link>
            </nav>
        </div>

        <!-- Social navigation -->
        <nav class="header__social" role="navigation">
            <a href="https://github.com/henryoliver" class="header__icon" target="_blank"><i class="icon-github"></i></a>
            <a href="https://www.linkedin.com/in/henry-oliver-1ab937159" class="header__icon" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/henry_s_oliver" class="header__icon" target="_blank"><i class="icon-twitter"></i></a>
        </nav>
    </header>

    <!-- Hero -->
    <section id="about" class="box flex middle home-hero">
        <article class="flex-2 flex-3-md flex-6-sm home-hero__description">
            <hgroup class="home-hero__title">
                <h4>Hello, my name is</h4>
                <h1>Henry Oliver</h1>
            </hgroup>
            <p>I'm a <strong>UX Experience Designer</strong> and<br><strong>Front End Developer</strong> based in Orlando, Florida.</p>
            <p>I live to deliver delightful and usable digital products made possible by solid and reliable code.</p>
        </article>
        <figure class="flex-4 flex-3-md home-hero__figure">
            <picture>
                <source media="(max-width: 375px)" srcset="/assets/images/henry-computer-small.jpg 1x, /assets/images/henry-computer-small@2x.jpg 2x" />
                <source media="(max-width: 768px)" srcset="/assets/images/henry-computer-medium.jpg 1x, /assets/images/henry-computer-medium@2x.jpg 2x" />
                <img class="home-hero__image" v-lazy="'/assets/images/henry-computer.jpg'" data-srcset="/assets/images/henry-computer.jpg 1x, /assets/images/henry-computer@2x.jpg 2x" alt="Henry Oliver" />
            </picture>
        </figure>
    </section>

    <!-- About -->
    <aside class="box flex middle home-about">
        <hgroup class="flex-4 flex-3-md flex-6-sm">
            <h1 class="text--lean home-about__title">I'm your guy if you believe...</h1>
        </hgroup>
        <ul class="flex-2 flex-3-md flex-6-sm list">
            <li class="list__item">
                <i class="icon-time list__icon"></i>
                <p class="list__text">in delivering on-time and having great communication</p>
            </li>
            <li class="list__item">
                <i class="icon-code list__icon"></i>
                <p class="list__text">in code that is easy to maintain and lasts longer</p>
            </li>
            <li class="list__item">
                <i class="icon-interface list__icon"></i>
                <p class="list__text">that interfaces should look awesome, load fast and work perfectly no matter in what device they are run</p>
            </li>
        </ul>
    </aside>

    <!-- Projects -->
    <section id="projects" class="box home-projects">
        <transition-group type="transition" tag="div" name="slide-right">
            <div class="flex middle" v-show="project === 1" :key="1">
                <article class="flex-4 flex-6-sm last-sm home-projects__description">
                    <h1>Glasstone Travel</h1>
                    <p>Glasstone Travel is a vacation rental marketplace with high-end properties in Florida. This client approached me to develop their new web channel. The result is a modern and responsive website that has been an effective marketing tool and sales channel for the company.</p>
                    <ul class="flex home-projects__tags">
                        <li class="tag">UX design</li>
                        <li class="tag">HTML5 / CSS3</li>
                        <li class="tag">PWA / Vue.js</li>
                        <li class="tag">AI assistant</li>
                    </ul>
                </article>
                <figure class="flex-2 flex-6-sm home-projects__figure">
                    <img class="home-projects__image" v-lazy="'/assets/images/projects-glasstone.jpg'" alt="Project Glasstone Travel" />
                    <a href="https://glasstonetravel.com" class="button button--bright home-projects__button-look" target="_blank">Take a look</a>
                </figure>
            </div>
            <div class="flex middle" v-show="project === 2" :key="2">
                <article class="flex-4 flex-6-sm last-sm home-projects__description">
                    <h1>Playlana</h1>
                    <p>Playlana is an app specially designed for students that need to memorize content for specifics tests and exams. They were looking for a straight-to-the-point landing page, that could clearly tell visitors what the app is about and increase app downloads.</p>
                    <ul class="flex home-projects__tags">
                        <li class="tag">UX design</li>
                        <li class="tag">HTML5 / CSS3</li>
                        <li class="tag">PHP</li>
                        <li class="tag">Wordpress</li>
                    </ul>
                </article>
                <figure class="flex-2 flex-6-sm home-projects__figure">
                    <img class="home-projects__image" v-lazy="'/assets/images/projects-playlana.jpg'" alt="Project Playlana" />
                    <a href="#" class="button button--bright home-projects__button-look" target="_blank">Take a look</a>
                </figure>
            </div>
            <div class="flex middle" v-show="project === 3" :key="3">
                <article class="flex-4 flex-6-sm last-sm home-projects__description">
                    <h1>Panoply MMA</h1>
                    <p>Panoply MMA is a legendary fighting center based in Orlando. As their first online initiative, I helped them develop an effective channel that has been an important marketing and sales channel.</p>
                    <ul class="flex home-projects__tags">
                        <li class="tag">UX design</li>
                        <li class="tag">HTML5 / CSS3</li>
                        <li class="tag">PWA / React</li>
                        <li class="tag">AI assistant</li>
                    </ul>
                </article>
                <figure class="flex-2 flex-6-sm home-projects__figure">
                    <img class="home-projects__image" v-lazy="'/assets/images/projects-mma.jpg'" alt="Project Panoply MMA" />
                    <a href="#" class="button button--bright home-projects__button-look" target="_blank">Take a look</a>
                </figure>
            </div>
        </transition-group>
        <button class="button home-projects__next" name="button" @click="next">Next project</button>
    </section>

    <!-- Work experience -->
    <article id="work" class="box flex home-experience" role="article">
        <figure class="flex-2 flex-6-sm home-experience__figure">
            <img class="home-experience__image" v-lazy="'/assets/images/experience-workshop.jpg'" alt="Henry Oliver" />
            <figcaption class="home-experience__caption">Work<br>Experience</figcaption>
        </figure>
        <dl class="flex flex-4 flex-6-sm home-experience__descriptions">
            <dt class="flex-3 flex-6-sm home-experience__title">
                <h3>Lead front-end consultant</h3>
                <h4>Concepta <small>2014 - 2018</small></h4>
            </dt>
            <dd class="flex-3 flex-6-sm home-experience__description">Full-stack developer responsible for building and maintaining web and mobile sites and applications with emphasis on the user experience (UX) result</dd>
            <dt class="flex-3 flex-6-sm home-experience__title">
                <h3>Software/it project manager</h3>
                <h4>E21 <small>2012 - 2014</small></h4>
            </dt>
            <dd class="flex-3 flex-6-sm home-experience__description">Coordinator of the web and mobile development sector, responsible for assuring quality in the final delivery to the customer. Manager of the development team and responsible for implementing web best practices in their daily bases to enhance the quality of the final product.</dd>
            <dt class="flex-3 flex-6-sm home-experience__title">
                <h3>Software/it project manager</h3>
                <h4>EMD - Digital Marketing Institute <small>2011 - 2013</small></h4>
            </dt>
            <dd class="flex-3 flex-6-sm home-experience__description">Managing the concept and design of the brand identity, responsible for the implementation of online teaching platform and maintenance of it with the development team.</dd>
            <dt class="flex-3 flex-6-sm home-experience__title">
                <h3>Application developer</h3>
                <h4>Polen Digital Agency <small>2008 - 2010</small></h4>
            </dt>
            <dd class="flex-3 flex-6-sm home-experience__description">Responsible for the technology area and the web development. Front-end developer also.</dd>
        </dl>
    </article>

    <!-- Skills -->
    <aside class="box flex home-skills" ref="skills">
        <hgroup class="flex-2 flex-6-sm home-skills__title">
            <h1>Current Skills</h1>
        </hgroup>
        <dl class="flex flex-4 flex-6-sm home-skills__descriptions">
            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="96" max="100"></progress></dd>
            <dt class="home-skills__skill">User Experience Design</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="90" max="100"></progress></dd>
            <dt class="home-skills__skill">Responsive Web Design</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="88" max="100"></progress></dd>
            <dt class="home-skills__skill">Sketch App</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="90" max="100"></progress></dd>
            <dt class="home-skills__skill">HTML5 (& APIs) / CSS3 (& Animations)</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="82" max="100"></progress></dd>
            <dt class="home-skills__skill">Atomic Design</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="86" max="100"></progress></dd>
            <dt class="home-skills__skill">OOCSS/SMACS</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="88" max="100"></progress></dd>
            <dt class="home-skills__skill">Sass/Less/Stylus</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">Bootstrap & Foundation</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="90" max="100"></progress></dd>
            <dt class="home-skills__skill">JavaScript</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="94" max="100"></progress></dd>
            <dt class="home-skills__skill">React</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">Angular</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="94" max="100"></progress></dd>
            <dt class="home-skills__skill">Vue.js</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="82" max="100"></progress></dd>
            <dt class="home-skills__skill">Flux</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">Redux</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="86" max="100"></progress></dd>
            <dt class="home-skills__skill">Mobx</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="86" max="100"></progress></dd>
            <dt class="home-skills__skill">Vuex</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">TDD & PDD</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="82" max="100"></progress></dd>
            <dt class="home-skills__skill">CI</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="89" max="100"></progress></dd>
            <dt class="home-skills__skill">Git</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="92" max="100"></progress></dd>
            <dt class="home-skills__skill">Node.js</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="90" max="100"></progress></dd>
            <dt class="home-skills__skill">npm</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="92" max="100"></progress></dd>
            <dt class="home-skills__skill">REST</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="80" max="100"></progress></dd>
            <dt class="home-skills__skill">GraphQL</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">MongoDB</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="82" max="100"></progress></dd>
            <dt class="home-skills__skill">Redis</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="88" max="100"></progress></dd>
            <dt class="home-skills__skill">DevOps</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="90" max="100"></progress></dd>
            <dt class="home-skills__skill">Amazon Web Services</dt>

            <dd v-scroll-reveal.reset><progress class="bar fill-bar" value="84" max="100"></progress></dd>
            <dt class="home-skills__skill">Google Cloud Platform</dt>
        </dl>
    </aside>

    <!-- Contact -->
    <section id="contact" class="box flex middle home-contact">
        <transition-group class="flex-2 flex-3-md flex-6-sm" name="fade" tag="div" mode="out-in">
            <form class="home-contact__form" accept-charset="UTF-8" v-if="status === null" :key="1" @submit.prevent="validate()">
                <h2>Contact</h2>
                <input type="text" v-model.trim="contact.name" placeholder="Your name" maxlength="50" autocomplete="name" required/>
                <input type="email" v-model.trim="contact.email" placeholder="Your email" maxlength="50" autocomplete="email" required />
                <textarea name="textarea" v-model.trim="contact.message" placeholder="Message" rows="5" maxlength="144" required></textarea>
                <button class="button button--bright button--block home-contact__submit" name="button" type="submit">Submit</button>
                <!-- Invisible reCAPTCHA -->
                <div ref="recaptcha"></div>
            </form>
            <aside class="flex column home-contact__confirm" v-if="status === 'success'" :key="2">
                <i class="icon-check"></i>
                <p>Thanks for reaching out!<br> I'll get to you soon</p>
            </aside>
        </transition-group>
        <address class="flex-4 flex-3-md flex-6-sm self-start h-card home-contact__address">
            <span class="p-locality">Orlando, FL</span><br>
            <span class="p-tel"><strong>(407) two-six-seven 5932</strong></span><br>
            <span class="p-email"><strong>contact [at] henryoliver.me</strong></span>
        </address>
    </section>

    <footer class="box flex middle footer h-card" role="contentinfo">
        <span class="p-name">Henry Oliver •&nbsp;</span>
        <span class="p-job-title">UX & Front-End Development •&nbsp;</span>
        <span class="p-locality">Orlando, FL</span>
    </footer>

    <!-- Plugins -->
    <script src="scripts/plugins/smoothscroll.min.js" async></script>

    <!-- Main -->
    <script src="scripts/main.js" async></script>

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143056927-2" async></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143056927-2');
    </script>
</body>

</html>
