/* States */
.visible {
    display: block;
}

.hidden {
    display: none;
}

.opaque {
    pointer-events: auto;

    opacity: 1;

    -webkit-filter: none;
        -ms-filter: none;
            filter: none;
    will-change: opacity;
}

.transparent {
    pointer-events: none;

    opacity: 0;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
    will-change: opacity;
}

.on {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    will-change: transform;
}

.off {
    -webkit-transform: translate3d(-9999px, 0, 0);
            transform: translate3d(-9999px, 0, 0);

    will-change: transform;
}

.text--lean {
    line-height: 1;

    margin-bottom: 0;
}

.text--tight {
    margin-top: 0;
    margin-bottom: 0;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--right {
    text-align: right;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

/* Transitions */

/* https://vuejs.org/images/transition.png */
.fade-enter,
.fade-leave-to {
    pointer-events: none;

    opacity: 0;
}

.fade-leave,
.fade-enter-to {
    pointer-events: auto;

    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s;
}

.slide-down-enter,
.slide-down-leave-to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);

    opacity: 0;
}

.slide-down-leave,
.slide-down-enter-to {
    -webkit-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.4s ease-in-out;
}

.slide-right-enter {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.slide-right-enter-to {
    -webkit-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}

.slide-right-enter-active {
    position: absolute;
}

.slide-right-leave {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.slide-right-leave-to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);

    opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 750ms ease-in-out;
}

/* Animations */
.bounce-enter-active {
    -webkit-animation: bounce-in 0.4s;
            animation: bounce-in 0.4s;
}

.bounce-leave-active {
    animation: bounce-in 0.4s reverse;
}

@-webkit-keyframes bounce-in {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes bounce-in {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.fill-bar {
    animation: fill-bar 0.4s linear;
}

@-webkit-keyframes fill-bar {
    100% {
        background-position: -100px 0;
    }
}

@keyframes fill-bar {
    100% {
        background-position: -100px 0;
    }
}
