@font-face {
    font-family: 'lato-regular';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/lato-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'lato-bold';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/lato-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'lato-light';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/lato-light.woff2') format('woff2');
}

@font-face {
    font-family: 'langdon';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/langdon.woff2') format('woff2');
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'lato-light';
    font-size: var(--base);
    line-height: 1.5;

    color: var(--dark);
    background-color: var(--white);
}

h1 {
    font-family: 'lato-bold';
    font-size: 40px;
    line-height: 1.1;

    margin-bottom: 24px;

    color: inherit;
}

h2 {
    font-family: 'lato-bold';
    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 24px;

    text-transform: uppercase;

    color: inherit;
}

h3 {
    font-family: 'lato-bold';
    font-size: 14px;
    line-height: 2;

    text-transform: uppercase;

    color: inherit;
}

h4 {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    margin-bottom: 24px;

    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 24px;
}

a {
    font-size: inherit;
    line-height: inherit;

    color: inherit;
}

strong {
    font-family: 'lato-bold';
}

small {
    font-size: 12px;
    line-height: 1.2;
}
