.bar[value] {
    display: block;
    /* Dimensions */

    width: 412px;
    max-width: 100%;
    height: 10px;
    /* Get rid of default border in Firefox. */

    border: none;
    /* Reset the default appearance */

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.bar[value]::-webkit-progress-bar {
    border-radius: 0;
    background-color: var(--black);
    box-shadow: none;
}

.bar[value]::-webkit-progress-value {
    border-radius: 0;
    background-color: var(--green);
    box-shadow: none;
}

/* Media queries */

/* Small */
@media (max-width: 375px) {
    .bar[value] {
        width: 272px;
    }
}
