.button {
    font-family: 'lato-regular';
    font-size: 12px;
    line-height: 1.25;

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 30px 69px 30px 60px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
            transform: scale(1);
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: var(--black);
    border: 2px solid var(--black);
    background-color: transparent;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    background-repeat: no-repeat;
    background-position: center right 40px;
    background-size: 9px 16px;

    background-image: url('/assets/images/arrow-black.svg');
}

.button:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}

.button:hover {
    color: var(--white);
    background-color: var(--black);
    background-image: url('/assets/images/arrow-white.svg');
}

.button--disable,
.button[disabled] {
    pointer-events: none;

    opacity: 0.5;
}

.button--bright {
    color: var(--white);
    border-color: var(--white);
    background-image: url('/assets/images/arrow-white.svg');
}

.button--bright:hover {
    color: var(--black);
    background-color: var(--white);
    background-image: url('/assets/images/arrow-black.svg');
}

.button--block {
    display: block;

    width: 100%;
}

/* Hamburger */
.button-hamburger {
    position: relative;

    width: 40px;
    height: 4px;

    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);

    background-color: var(--black);
}


.button-hamburger::before,
.button-hamburger::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    content: '';
    transition: all 0.4s ease-in-out;

    background-color: var(--black);
}


.button-hamburger::before {
    -webkit-transform: translateY(14px) rotate(-15deg);
            transform: translateY(14px) rotate(-15deg);
}

.button-hamburger::after {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
}

.button-hamburger--active::before {
    -webkit-transform: rotate(0deg) translateY(4px);
            transform: rotate(0deg) translateY(4px);
}

.button-hamburger--active::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
}

.button__arrow {
    margin-left: 20px;

    vertical-align: bottom;
}

/* Media queries */

/* Small */
@media (max-width: 375px) {
    .button-hamburger {
        background-color: var(--white);
    }

    .button-hamburger::before,
    .button-hamburger::after {
        background-color: var(--white);
    }
}
