.tag {
    background: var(--black);
    border-radius: 2px;
    color: var(--white);
    font-family: 'lato-bold';
    font-size: 12px;

    text-transform: uppercase;
    line-height: 1;
    padding: 8px 10px;
    margin: 0 10px 10px 0;
}
